/* Common css styles */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
/* Nav bar styles */

.header{
    background-color: #FFF8F3;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav h2{
    font-size: 45px;
    font-weight: 800;
}
nav span{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li:last-child{
    margin-right: 0;
}
nav li a{
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}
.btn_primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    padding: 15px 35px;
}
/* Banner styles added */

.banner{
    display: flex;
    align-items: center;
    padding: 50px 50px 50px 200px;
    justify-content: space-between;
}