/* Common css styles */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
ul, p, h1, h2, h3{
    margin: 0;
    padding: 0;
}
.section_title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

/* Nav bar styles */

.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-top: 30px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
nav h2{
    font-size: 45px;
    font-weight: 800;
}
nav span{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li:last-child{
    margin-right: 0;
}
nav li a{
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}
.btn_primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    padding: 15px 35px;
}
/* Banner styles added */

.banner{
    display: flex;
    align-items: center;
    padding: 50px 50px 0 200px;
    justify-content: space-between;
}
.banner h3{
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}
.banner h1{
    font-size: 85px;
    font-weight: 700;
    margin: 0;
}
.banner p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner_cap{
    max-width: 560px;
}
/* Main styles added */

/* About styles added */

.about{
    background-color: #FFF8F3;
    padding: 100px;
    margin: 100px 200px;
    border-radius: 10px;
}
.about p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.about_content{
    background-color: #fff;
    padding: 5px;
}
.about_info{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}
.about_info h3{
    font-weight: 400;
}
.about_info p{
    font-weight: 700;
}

/* what i do section */

.what_section{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}
.what_section .section_title{
    margin-bottom: 20px;
}
.what_section p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 110px;
    margin-bottom: 20px;
}
/* skils style start */

.skils{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    text-align: left;
}
.skils .skill{
   
    padding: 30px 33px 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background-color: #fff;
}
.skils .skill_title{
    font-size: 20px;
    font-weight: 700;
    margin: 35px 0 20px;
}
.skils .skill_description{
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding-right: 3px;
    color: #757575;
}